* {
  margin: 0;
  padding: 0;
}

body {
  color: #666;
  font-size: 13px;
  background: #f4f4f4;
  font-family: arial, sans-serif;
}

#container {
  margin: 15px auto;
  text-align: center;
  width: 900px;
  position: relative;
}

a, a:visited {
  color: #0196e3;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

p {
  padding-top: 10px;
  text-align: center;
}

#slider {
  box-shadow: 0 0 3px #aaaaaa;
  -moz-box-shadow: 0 0 3px #aaaaaa;
  -webkit-box-shadow: 0 0 3px #aaaaaa;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: url(../img/panel.jpg) repeat-x bottom center #ffffff;
  width: 900px;
  overflow: hidden;
}

.head {
  background: url(../img/panel.jpg) repeat-x bottom center #ffffff;
  height: 30px;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}

#slides {
  height: 240px;
  width:900px;
  overflow: hidden;
  padding-top: 20px;
}
